rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Test mode rules: allow read and write for all users
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
